
EagleLife/EagleLife/obj/Debug/EagleLife.csprojAssemblyReference.cache
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide-shm
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide-wal
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
EagleLife/.vs/EagleLife/config/applicationhost.config
EagleLife/.vs/EagleLife/v16/.suo
*.ide
EagleLife/EagleLife/obj/Debug/EagleLife.csprojAssemblyReference.cache
EagleLife/EagleLife/obj/Debug/EagleLife.csprojAssemblyReference.cache
EagleLife/EagleLife/obj/Debug/EagleLife.csprojAssemblyReference.cache
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
EagleLife/.vs/EagleLife/config/applicationhost.config
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/.vs/EagleLife/config/applicationhost.config
EagleLife/EagleLife/obj/Debug/EagleLife.csproj.CoreCompileInputs.cache
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/.vs/EagleLife/config/applicationhost.config
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
EagleLife/EagleLife/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
EagleLife/EagleLife/obj/Debug/EagleLife.csproj.CoreCompileInputs.cache
