
EagleLife/EagleLife/obj/Debug/EagleLife.csprojAssemblyReference.cache
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide-shm
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide-wal
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
EagleLife/.vs/EagleLife/v16/Server/sqlite3/storage.ide
*.config
*.config
*.config
EagleLife/.vs/config/applicationhost.config
EagleLife/EagleLife/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.cache
EagleLife/EagleLife/Login.aspx.designer.cs
EagleLife/.vs/config/applicationhost.config
EagleLife/.vs/EagleLife/v14/.suo
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/.vs/EagleLife/v16/.suo
EagleLife/EagleLife/obj/Debug/EagleLife.csproj.FileListAbsolute.txt
*.cs
EagleLife/.vs/EagleLife/v16/.suo
*.cs
EagleLife/EagleLife/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.aspx
EagleLife/EagleLife/DataList.aspx.cs
